---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?api_key=BT4JmJ2aVDKju27MLysr2YhdkUX9pbfeBw8mF1iz&lat=35.45&lon=-82.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"63fed9308e2d1043933bfc6603a271a0"'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"inputs":{"lat":"35.45","lon":"-82.98"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"18642|8333","utility_name":"Tennessee
        Valley Authority|Haywood Electric Member Corp","utility_info":[{"company_id":"18642","utility_name":"Tennessee
        Valley Authority"},{"company_id":"8333","utility_name":"Haywood Electric Member
        Corp"}],"commercial":0.0977,"industrial":0.0862,"residential":0.123}}'
  recorded_at: Mon, 06 Jun 2016 13:59:21 GMT
recorded_with: VCR 3.0.3
